name: Crypto Bot Scheduler

on:
  schedule:
    # توقيت مصر (UTC+2)
    - cron: "0 0 * * *"    # 00:00
    - cron: "0 7 * * *"    # 07:00
    - cron: "0 9 * * *"    # 09:00
    - cron: "0 10 * * *"   # 10:00
    - cron: "0 11 * * *"   # 11:00
    - cron: "0 12 * * *"   # 12:00
    - cron: "0 13 * * *"   # 13:00
    - cron: "0 14 * * *"   # 14:00
    - cron: "0 16 * * *"   # 16:00
    - cron: "0 18 * * *"   # 18:00
    - cron: "0 20 * * *"   # 20:00
    - cron: "0 22 * * *"   # 22:00
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: |
          python crypto_bot.py
